---
layout: default
---
<div class="post {% if page.visual %}visual{% endif %} {% if page.type %}vertical{% endif %}">

	<header class="post-header">
		{% if page.visual %}
		<i class="post-visual-background"></i>
		<i class="post-visual" style="background-image:url({{ page.visual }})"></i>
		{% endif %}
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">{% if page.visual %}<span>{% endif %}{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.visual %}</span>{% endif %}</p>
	</header>

	<article class="post-content">
		{{ content }}
	</article>

	{% if page.author %}
	<div class="post-author">
		<div class="author-pic"><img src="http://lorempixel.com/90/90/"></div>
		<div class="author-desc">
			<p>To install into an existing project, simply place the extension into a project’s extension directory</p>
		</div>
	</div>
	{% endif %}

	<div class="post-response">
	</div>
</div>
<script>
function mdImg2Figure(){
	$('.post-content p img').each(function(){
		$(this).after('<figcaption>'+$(this).attr('title')+'</figcaption>');
		$(this).wrap('<figure></figure>');
	});
}
mdImg2Figure();
</script>